body {
	background: #35C1FF;
	color: #111111  !important;
    background: #ffffff url('../bg_login.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-wrapper {
	margin: 3%;
}

.login-box {
	width: 300px;
	margin: 0 auto;
	border-radius: 5px;
	background: #fefefe;
	background-repeat: no-repeat;
	background-position: left;
    opacity: 0.9;
}


@media(max-width: 720px) {
	body {
		padding: 10px;
	}
	.login-box {
		width: 100%;
	}
}

.com-text {
	font-weight: bolder;
	line-height: 1.4em;
	margin-bottom: 30px;
}

.com-text small {
	display: block;
	font-size: .6em;
	color: black;
}

.btn-success {
	background-color: #00923f;
	border-color: #00923f;
}

body {
	background-size: cover !important;
	background-position: center !important;
	background-attachment: fixed !important;  
}