.sidebar .nav .nav-item .nav-link {
  white-space: normal;
  line-height: 1.5em !important;
}

.sidebar .nav.sub-menu .nav-item .nav-link  {
  padding-top: .6em;
  padding-bottom: .6em;
}

ul.sub-menu.nav li:before {
  display: none;
}

.sidebar .nav.sub-menu {
  padding-left: 2.8em;
}

.content-wrapper {
  padding: 1.8em 2.5em;
  background-color: #f9f9f9;
}

.navbar .navbar-brand-wrapper {
  border-right: 0px;
}

.sidebar {
  border-right: 0px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.03);
}

@media (max-width: 768px) {
  .sidebar {
    box-shadow: 0px 0px 0px 1000vw rgba(0,0,0,0);
  }
  .sidebar.active {
    box-shadow: 0px 0px 0px 100vw rgba(0,0,0,0.7);
  }
}

.sidebar .nav:not(.sub-menu) > .nav-item {
  border-bottom-color: rgb(245,245,245);
}

.navbar .navbar-brand-wrapper {
  border-bottom: 0px;
}

.navbar .navbar-menu-wrapper {
  border-bottom: 0px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
  box-shadow: none;
  border: 1px solid rgb(250,250,250);
}

img {
  max-width: 100%;
}

.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand img {
  height: auto;
  width: 80%;
}

.sidebar .nav .nav-item.active > .nav-link i, .sidebar .nav .nav-item.active > .nav-link .menu-title, .sidebar .nav .nav-item.active > .nav-link .menu-arrow {
  color: #00923f;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
  color: #00923f;
}

.text-primary {
  color: #00923f !important;;
}

li.nav-item.active a.nav-link {
  background-color: #f9f9f9 !important;
}

#toast-container > div:hover {
  box-shadow: 0px 0px 5px rgb(0,0,0,0.2);
}

.toast-success {
  background-color: #00923f;
}

.channel-link a:hover h4 {
  color: #000000;
}

.channel-link a h4 {
  color: #000000; 
}


.channel-link a:hover h5 {
  color: #000000;
}

.channel-link a h5 {
  color: #000000; 
}

.channel-link a:hover p {
  color: #000000;
}

.channel-link a p {
  color: #000000; 
}

.channel-link a {
  text-decoration: none;
}

li.nav-item.active ul.sub-menu a.nav-link  {
  background-color: transparent !important;
}

.video-icon {
  margin-right: 10px;
}

.video-meta {
  font-size: .9em;
  margin-right: 15px;
}

.page-item.active .page-link {
  background-color: #00923f;
  border-color: #00923f;
}

.page-link {
  color: #00923f;
}

.page-link:hover {
  color: #00923f;
}

.card {
  border: 0px solid transparent;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.03);
}

#my-video, #singleVideo {
  width: 100%;
  max-width: 100%;
  height: 45em;
  transition: .5s;;
}

@media (max-width: 768px) {
  #my-video, #singleVideo {
    height: 35em;
  }
}

@media (max-width: 468px) {
  #my-video, #singleVideo {
    height: 25em;
  }
}

#welcome-section #my-video {
  height: 20em;
}


.btn-success {
  background-color: #00923f;
  border-color: #00923f;
  transition: .3s;
}

.img-thumbnail {
  border: 0px;
}

.form-control:focus, .dataTables_wrapper select:focus {
  border-color: #00923f;
}

.toast {
  border: none;
}

#toast-container > div:hover {
  box-shadow: 0px 0px 5px rgb(0,0,0,0.2);
}

.toast-success {
  background-color: #00923f;
}

.toast-error {
  background-color: rgb(231, 40, 40);
}

.empty-container img {
  width: 130px;
}

.empty-container p {
  font-size: 1em;
  margin-top: 10px;
  font-weight: 600;
  color: #00923f !important;
}

.empty-container {
  text-align: center;
  margin: auto;
}

@media (max-width: 768px) {
  .single-video h1 {
    line-height: 1.25em;
    font-size: 2em;
  }
}