img {
    max-width: 100%;
}

.form-control:focus,
.dataTables_wrapper select:focus {
    border-color: #00923f;
    transition: .3s;
}

.form-check .form-check-label input[type="checkbox"]:checked+.input-helper::before {
    background-color: #00923f;
}

.form-check .form-check-label input[type="checkbox"]+.input-helper::before {
    border-color: #00923f;
}

.btn-success {
    background-color: #00923f;
    border-color: #00923f;
    transition: .3s;
}

.form-control-lg {
    padding-left: 1em;
    padding-right: 1em;
}

.toast {
    border: none;
}

#toast-container>div:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
}

.toast-success {
    background-color: #00923f;
}

#my-video {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    #my-video {
        height: 30em;
    }
}

@media (max-width: 768px) {
    .fHome {
        display: none;
    }
}